.card {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.episod {
  padding-left: 5px;
  border-left: 1px solid;
}
